analytics {
  display: block;
  width: 100%;

  base-chart {
    width: 100%;
    height: 300px;
    display: block;
  }

  .period-list-container {
    text-align: right;
    margin-top: 25px;
  }

  .chart-container {
    padding-top: 100px;
    width: 100%;
  }
}