<ul>
    <!--<a routerLink="/home" routerLinkActive="active">
        <li>
            <span class="fa fa-home"></span> &nbsp; Accueil
        </li>
    </a>
    <a routerLink="/analytics" routerLinkActive="active">
        <li>
            <span class="fa fa-bar-chart-o"></span> &nbsp; Détail
        </li>
    </a>-->
    <a routerLink="/users" routerLinkActive="active">
        <li>
            <span class="fa fa-users"></span> &nbsp; Utilisateurs
        </li>
    </a>
    <a routerLink="/notifications" routerLinkActive="active">
        <li>
            <span class="fa fa-bell"></span> &nbsp; Notifications
        </li>
    </a>
</ul>