<div class="row">
    <span style="float: left; padding: 25px;">Si la consommation</span>
    <select class="form-control">
        <option>éléctrique</option>
        <option>en gaz</option>
        <option>en eau</option>
    </select>
    <select class="form-control">
        <option>dépasse</option>
        <option>est inférieure à</option>
    </select>
    <input class="form-control" placeholder="Valeur">
</div>
<div class="row">
    <span style="float: left; padding: 25px;">envoyer une notification aux utilisateurs par</span>
    <select class="form-control">
        <option>mail</option>
        <option>sms</option>
    </select>
</div>
<div class="row">
    <button class="btn btn-primary">
        Sauvegarder
    </button>
</div>