<ul>
    <a class="logo">
        <span class="fa fa-flash" style="font-size: 3em;"></span>
    </a>
    <a routerLink="/home" routerLinkActive="active">
        <li>
            <span class="fa fa-home"></span> &nbsp; Accueil
        </li>
    </a>
    <a routerLink="/analytics" routerLinkActive="active">
        <li>
            <span class="fa fa-bar-chart"></span> &nbsp; Détail
        </li>
    </a>
    <a routerLink="/users-listing" routerLinkActive="active">
        <li>
            <span class="fa fa-users"></span> &nbsp; Utilisateurs
        </li>
    </a>
    <a routerLink="/notifications" routerLinkActive="active">
        <li>
            <span class="fa fa-bell"></span> &nbsp; Notifications
        </li>
    </a>
</ul>