<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Prénom</th>
            <th>Nom</th>
            <th>E-mail</th>
            <th>Mobile</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>1</th>
            <td>Soham</td>
            <td>Kuhn</td>
            <td>soham.kuhn57@example.com</td>
            <td>(259)-212-4472</td>
        </tr>
        <tr>
            <th>2</th>
            <td>Soham</td>
            <td>Kuhn</td>
            <td>soham.kuhn57@example.com</td>
            <td>(259)-212-4472</td>
        </tr>
        <tr>
            <th>3</th>
            <td>Soham</td>
            <td>Kuhn</td>
            <td>soham.kuhn57@example.com</td>
            <td>(259)-212-4472</td>
        </tr>
        <tr>
            <th>4</th>
            <td>Soham</td>
            <td>Kuhn</td>
            <td>soham.kuhn57@example.com</td>
            <td>(259)-212-4472</td>
        </tr>
        <tr>
            <th>5</th>
            <td>Soham</td>
            <td>Kuhn</td>
            <td>soham.kuhn57@example.com</td>
            <td>(259)-212-4472</td>
        </tr>
        <tr>
            <th>6</th>
            <td>Soham</td>
            <td>Kuhn</td>
            <td>soham.kuhn57@example.com</td>
            <td>(259)-212-4472</td>
        </tr>
        <tr>
            <th>7</th>
            <td>Soham</td>
            <td>Kuhn</td>
            <td>soham.kuhn57@example.com</td>
            <td>(259)-212-4472</td>
        </tr>
        <tr>
            <th>8</th>
            <td>Soham</td>
            <td>Kuhn</td>
            <td>soham.kuhn57@example.com</td>
            <td>(259)-212-4472</td>
        </tr>
    </tbody>
</table>